.container() {
  width: @width-container--default;
  margin-right: auto;
  margin-left: auto;

@media (min-width: @width-screen--mobile) {
  width: @width-container--modile;
}

/* @media (min-width: @width-screen--tablet) {
  width: @width-container--tablet;
} */

/* @media (min-width: @width-screen--desktop) {
   width: @width-container--desktop;
 } */
}

.reset-title() {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.reset-paragraph() {
  margin-top: 0;
  margin-bottom: 0;
}

.reset-text() {
  font-weight: normal;
  font-style: normal;
}

.reset-blockquote() {
  margin: 0;
  padding: 0;
}

.reset-list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-link() {
  text-decoration: none;
}

.hidden() {
  display: none;
}

.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);

  // UPD: 2017;
  padding: 0;
  border: 0;

  clip-path: inset(100%);
  overflow: hidden;
}
