@width-screen--default:     320px;
@width-screen--mobile:      320px;
@width-screen--tablet:      660px;
@width-screen--desktop:     960px;

@width-container--default:  320px;
@width-container--modile:   320px;//67.5%; // 280px/320px
@width-container--tablet:   88.5714285%;  // 620px/700px
@width-container--desktop:  97.9166666%;  // 940px/960px


@font-family--default:      "Open Sans", "Arial", sans-serif;

@font-size--default:        18px;

@line-height--default:      27px;

@font-weight--default:      400;

@font-style--default:       normal;

@color--default:            #000000;
@color--white:              #ffffff;
@color--dark:               #283645;


@bg--white:                 #ffffff;
@bg--dark:                  #1d2631;
@bg--grey:                  #f2f2f2;

@main-nav--bg-item:         #283645;
