@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'), url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff') format('woff'), url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff') format('woff'), url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: white;
}
/* Move to 'mixin.less' */
/* p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
} */
.g-hidden {
  display: none;
}
.g-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  overflow: hidden;
}
.page-header {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  /* @media (min-width: @width-screen--tablet) {
  width: @width-container--tablet;
} */
  /* @media (min-width: @width-screen--desktop) {
   width: @width-container--desktop;
 } */
}
@media (min-width: 320px) {
  .page-header {
    width: 320px;
  }
}
.page-header__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #283645;
}
.page-header__inner--main-nav--close {
  margin-bottom: -70px;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__logo {
  display: block;
  width: 79px;
  height: 25px;
  font-size: 0;
  border: 1px solid blue;
}
.page-header__toggle {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  background: transparent;
  border: 1px solid blue;
  cursor: pointer;
}
.main-nav {
  margin-bottom: -72px;
}
.main-nav--close {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  overflow: hidden;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-nav__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.main-nav__link {
  text-decoration: none;
  display: block;
  flex-grow: 1;
  padding: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #283645;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 -1px 0 0 black;
}
.intro {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  /* @media (min-width: @width-screen--tablet) {
  width: @width-container--tablet;
} */
  /* @media (min-width: @width-screen--desktop) {
   width: @width-container--desktop;
 } */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 732px;
  background: #1d2631 url('../img/---iphone-hand-modile.jpg') no-repeat 50% 0;
}
@media (min-width: 320px) {
  .intro {
    width: 320px;
  }
}
.intro__inner {
  /*     @media (min-width: @width-screen--table) {
  margin-top: 460px;
} */
}
@media (min-width: 320px) {
  .intro__inner {
    margin-top: 460px;
  }
}
.download-app {
  padding: 30px 20px;
  background: #1d2631;
}
.download-app__button {
  text-decoration: none;
  display: block;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 25px;
}
.download-app__platforms {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
}
.download-app__platform {
  height: 55px;
  width: 55px;
  background-color: grey;
}
.download-app__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  color: #ffffff;
  text-align: center;
}
.page-main {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  /* @media (min-width: @width-screen--tablet) {
  width: @width-container--tablet;
} */
  /* @media (min-width: @width-screen--desktop) {
   width: @width-container--desktop;
 } */
}
@media (min-width: 320px) {
  .page-main {
    width: 320px;
  }
}
.features {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  /* @media (min-width: @width-screen--tablet) {
  width: @width-container--tablet;
} */
  /* @media (min-width: @width-screen--desktop) {
   width: @width-container--desktop;
 } */
}
@media (min-width: 320px) {
  .features {
    width: 320px;
  }
}
.features__title {
  padding: 40px 20px 30px;
}
.features__slogan {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: hidden;
  padding-top: 15px;
}
.features__item {
  display: block;
  margin: 0 -10px;
  margin-bottom: -15px;
  padding: 20px 0;
  text-align: center;
  background: #f2f2f2;
  transform-origin: 50% 50%;
  transform: rotate(-5deg);
}
.features__item:first-child {
  padding-top: 70px;
}
.features__item:last-child.features__item::after {
  content: '';
  display: block;
  min-height: 659px;
  width: 160px;
  box-sizing: border-box;
  background: transparent url('../img/--iphone-screen-mobile.png') no-repeat 50% 0;
}
.feature__title {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 10px;
  transform-origin: 50% 50%;
  transform: rotate(5deg);
}
.feature__description {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  transform-origin: 50% 50%;
  transform: rotate(5deg);
}
