.features__title {
    padding: 40px 20px 30px;
}

.features__slogan {
  display: block;

  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: @color--dark;
  text-align: center;
}

.feature__list {
  .reset-list();
  display: block;
  padding: 0;
  margin: 0;

  background-image: linear-gradient(to right bottom, transparent 50%, gray 50%);
}
